.card {
  background-color: initial !important;
  position: relative !important;
  cursor: pointer;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.25);
  height: 100% !important; }
  @media screen and (max-width: 768px) {
    .card {
      max-width: 300px !important;
      display: block !important;
      margin: 0 auto !important; } }
  @media screen and (max-width: 590px) {
    .card {
      max-width: 200px !important; } }
  .card:hover {
    border-radius: 4px !important;
    box-shadow: 0 0 5px 0 #008dff !important;
    transition: 0.5s !important; }
  .card .card-image .image {
    top: -25px !important; }
    @media screen and (max-width: 590px) {
      .card .card-image .image img {
        height: 90% !important;
        width: 90% !important;
        margin: 0 auto !important; } }
  .card .card-content {
    padding: 0 !important; }
    .card .card-content .title {
      position: absolute !important;
      bottom: 15% !important;
      left: 0 !important;
      right: 0 !important; }
    .card .card-content .price-title {
      font-size: 1rem !important;
      font-weight: 600 !important; }
      .card .card-content .price-title .positive-percent-change {
        font-size: 0.9rem !important;
        color: #00d1b2 !important;
        margin-left: 5px !important; }
        .card .card-content .price-title .positive-percent-change .fa-arrow-down {
          display: none !important; }
      .card .card-content .price-title .negative-percent-change {
        font-size: 0.9em !important;
        color: #ff3860 !important;
        margin-left: 5px !important; }
        .card .card-content .price-title .negative-percent-change .fa-arrow-up {
          display: none !important; }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }
